body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.logoConnectLife{
    width: 100%;
}

input[type=radio] {
    border: 2px solid #fff;
    padding: 0.5em;
    -webkit-appearance: none;
}

input[type=radio]:checked {
    background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
    background-size: 9px 9px;
}

input[type=radio]:focus {
    outline-color: transparent;
}
